.container {
    text-align: center;
    width: 150px;
}

h3 {
    color: #0b82ed;
}

button {
    background-color: #0b82ed;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    padding: 7px 0;
    width: 100%;
}

button:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #0b82ed;
    cursor: pointer;
}